.card {
    margin: 20px;
    padding: 20px;
    border: solid;
    border-width: thin;
    border-radius: 3px;
    border-color: rgba(0,0,0,0.22);
    box-shadow: 0 0 0 rgba(0,0,0,0.01), 0 2px 5px rgba(0,0,0,0.22);
}

.page {
    margin: 10px;
}

* {
    font-family: 'Roboto', sans-serif;
}

html, body, main {
    margin: 0;
    padding: 0;
    /* width: 100%; */
}
main {
    display: flex;
    flex-direction: column;
}