div {
    margin: 20px;
    padding: 20px;
    border: solid;
    border-radius: 5%;
}
* {
    font-family: 'Roboto', sans-serif;
}

html, body {
    margin: 0;
    padding: 0;
    width: 100%;
    
}
main {
    display: flex;
    flex-direction: column;
}