/* Global Styles */

:root {
    --primary-theme-color: #00695c;
    --light-theme-color: #439889;
    --dark-theme-color: #003d33;
}

.page {
    margin: 10px;
}

* {
    font-family: 'Roboto', sans-serif;
}

html, body, main {
    margin: 0;
    padding: 0;
}
main {
    display: flex;
    flex-direction: column;
}

.profileCard {
    position: absolute;
    right: 0;
    top: 35px;
    width: 100px;
    height: 300px;
    z-index: 10;
}

.md-icon-btn {
    width: 24px;
    height: 24px;
    margin-left: 16px;
    margin-right: 16px;
    padding: 0;
    outline: none;
    border: none;
    background-color: transparent;
}

.md-icon-btn img {
    width: 24px;
    height: 24px;
}

.md-button {
    border: none;
    background-color: var(--primary-theme-color);
    color: white;
    padding: 12px 16px;
    border-radius: 2px;
    box-shadow: 0 0 4px #999;
    outline: none;
    background-position: center;
    transition: background 0.7s;
    display: flex;
    flex-direction: row;
    align-items: center;
}
.md-icon-text-btn {
    padding: 8px 10px!important;
}
.md-icon-text-btn icon-el {
    padding-right: 6px;
}
.md-button:hover {
    background: var(--primary-theme-color) radial-gradient(circle, transparent 1%, var(--primary-theme-color) 1%) center/15000%;
}
.md-button:active {
    background-color: #48a999;
    background-size: 100%;
    transition: background 0s;
}

.md-button:disabled {
    background-color: grey;
    box-shadow: none!important;
}

.hide {
    display: none!important;
}
.divider {
    height: 1px;
    background-color: grey;
    margin: 4px 0 4px 0;
}