body {
    display: flex;
    flex-direction: column;
}

:host {
    display: flex;
    flex-grow: 1;
}
:host, body {
    position: relative;
    height: 100%;
    width: 100%;
}

#newQ {
    align-self: center;
}

.header {
    background-color: white;
    padding: 8px;
}

#editableQuestionsContainer {
    height: 100%;
}
#editableQuestionsContainer touch-drag-list {
    height: 100%;
}

#deleteBtn {
    
}
#dialogContent {
    display: flex;
    flex-direction: column;
}
.dialogOptionGroup {
    display: flex;
    flex-direction: row;
    margin: 10px;
}
.dialogBtnContainer {
    margin-top: 30px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.qAnswerItem {
    display: flex;
    flex-direction: row;
    padding: 5px 0 5px 0;
    margin-left: -24px;
    align-items: center;
    justify-content: space-between;
}
.answerOptionName {
    display: flex;
    flex-direction: row;
    align-items: center;
}
#newOptionBtn {
    display: flex;
    flex-direction: row;
    margin: 5px 0 5px 0;
    align-items: center;
    justify-content: left;
    opacity: 0.6;
}
#newOptionBtn p {
    padding-left: 5px;
    font-size: 14px;
    margin: 0;
}
progress-spinner {
    margin: auto;
    padding: 50px
}
#lastSaved {
    display: flex;
    flex-direction: column;
}
#lastSaved p {
    font-size: 0.8em;
    margin: 2px;
}
.divider {
    margin: 8px 0 20px 0;
    width: 270px;
}
#questionActions {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
#questionActions div {
    display: flex;
    flex-direction: row;
    align-items: center;
}
#questionActions div div {
    margin-right: 8px;
}
dropdown-el {
    margin: 8px 0 4px 0;
}
#dragHandle {
    opacity: 0.5;
    transition: 0.3s;
    margin: -20px auto auto auto;
    transform: rotate(90deg);
}
.answerOptionDragHandle {
    opacity: 0.5;
    transition: 0.3s;
}
#shareModal {
    
}
.titleContainer {
    display: flex;
    flex-direction: row;
    align-items: center;
}
.titleContainer icon-el {
    margin-right: 8px
}