<div>
    <div class="titleContainer">
        <input-elmnt></input-elmnt>
        <div class="titleBtnContainer">
        <div id="saveBtnContainer">
            <button id="saveBtn" class="md-button md-icon-text-btn">
                <icon-el>save</icon-el>
                Save
            </button>
            <div id="lastSaved">
                <p>Last Saved</p>
                <p id="lastSavedTime"></p>
            </div>
        </div>
        
        
        <button id="settingsBtn" class="md-button md-icon-text-btn">
            <icon-el>settings</icon-el>
            Settings
        </button>
        <button id="shareBtn" class="md-button md-icon-text-btn">
            <icon-el>send</icon-el>
            Send
        </button>
        </div>
    </div>


</div>

<progress-spinner></progress-spinner>
<div id="questionsContainer" class="hide"></div>

<button id="newQ" class="md-button">Add Question</button>
