<div>
    <div class="titleContainer">
        <input-elmnt></input-elmnt>
        <div class="titleBtnContainer">
        <div id="saveBtnContainer">
            <button id="saveBtn" class="md-button md-icon-text-btn">
                <icon-el size="button">save</icon-el>
                Save
            </button>
            <div id="lastSaved">
                <p>Last Saved</p>
                <p id="lastSavedTime"></p>
            </div>
        </div>
        
        
        <button id="settingsBtn" class="md-button md-icon-text-btn">
            <icon-el size="button">settings</icon-el>
            Settings
        </button>
        <button id="shareBtn" class="md-button md-icon-text-btn">
            <icon-el size="button">send</icon-el>
            Send
        </button>
        </div>
    </div>
    <button id="questionsBtn">Questions</button>
    <button id="responsesBtn">Responses</button>

</div>




<progress-spinner></progress-spinner>

<div id="editableQuestionsContainer" class="hide">
    <div id="questionsContainer"></div>
    <button id="newQ" class="md-button">Add Question</button>
</div>

<div id="responsesContainer" class="hide"></div>
