<div>
    <div class="titleContainer">
        <input-elmnt></input-elmnt>
        <div class="titleBtnContainer">
        <button id="saveBtn" class="md-button">
            Save
        </button>
        <button id="settingsBtn" class="md-button">
            Settings
        </button>
        <button id="shareBtn" class="md-button">
            Send
        </button>
        </div>
    </div>


</div>

<progress-spinner></progress-spinner>
<div id="questionsContainer" class="hide"></div>

<button id="newQ" class="md-button">Add Question</button>
