<div id="dialogContent">
    <div class="dialogOptionGroup">
        <input id="requireLogin" type="checkbox">
        <label for="requireLogin">Require Login</label>
    </div>
    
    <div class="dialogOptionGroup">
        <input id="oneSubPerUser" type="checkbox">
        <label for="oneSubPerUser">Allow only 1 submission per user</label>
    </div>
    
    <div class="dialogOptionGroup">
        <input id="acxzdfggfl" type="checkbox">
        <label for="acxzdfggfl">Require Login</label>
    </div>
    
    <div id="dialogButtonGroup">
        <button id="saveBtn" class="md-button">Save</button>

        <button id="cancelBtn" class="md-button">Cancel</button>
    </div>


</div>
