<input-elmnt></input-elmnt>

<dropdown-el></dropdown-el>

<div id="questionAnswers" class="hide">
    <div></div>
    <button class="md-button">Add Option</button>
</div>

<div class="divider"></div>

<div id="questionActions">
    <button id="deleteBtn" class="md-icon-btn"><icon-el colour="dark">delete</icon-el></button>
    <button id="duplicateBtn" class="md-icon-btn"><icon-el colour="dark">copy</icon-el></button>
    <div>
        <div>Required</div>
        <toggle-el></toggle-el>
    </div>
</div>

