<div id="dialogContent">
    <div class="dialogOptionGroup">
        <checkbox-el id="requireLogin"></checkbox-el>
        <label for="requireLogin">Require Login</label>
    </div>
    
    <div class="dialogOptionGroup">
        <checkbox-el id="oneSubPerUser"></checkbox-el>
        <label for="oneSubPerUser">Allow only 1 submission per user</label>
    </div>
    
    <div class="dialogOptionGroup">
        <checkbox-el></checkbox-el>
    </div>
    
    <div id="dialogButtonGroup">
        <button id="saveBtn" class="md-button">Save</button>

        <button id="cancelBtn" class="md-button">Cancel</button>
    </div>


</div>
