body {
    display: flex;
    flex-direction: column;
}

#newQ {
    align-self: center;
}

.titleContainer {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-content: space-between;
}
.titleBtnContainer {
    margin: 10px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}
#saveBtnContainer {
    display: flex;
    flex-direction: row;
    align-items: center;
}
#deleteBtn {
    
}
#dialogContent {
    display: flex;
    flex-direction: column;
}
.dialogOptionGroup {
    display: flex;
    flex-direction: row;
    margin: 10px;
}
.dialogButtonGroup {

}
.qAnswerItem {
    display: flex;
    flex-direction: row;
    margin: 5px 0 5px 0;
    align-items: center;
    justify-content: space-between;
}
progress-spinner {
    margin: auto;
    padding: 50px
}
#lastSaved {
    display: flex;
    flex-direction: column;
}
#lastSaved p {
    font-size: 0.8em;
    margin: 2px;
}
.divider {
    margin: 8px 0 20px 0;
    width: 270px;
}
#questionActions {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
#questionActions div {
    display: flex;
    flex-direction: row;
    align-items: center;
}
#questionActions div div {
    margin-right: 8px;
}
dropdown-el {
    margin: 8px 0 4px 0;
}