body {
    display: flex;
    flex-direction: column;
}

#newQ {
    align-self: center;
}

.titleContainer {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-content: space-between;
}

#deleteBtn {
    
}
#dialogContent {
    display: flex;
    flex-direction: column;
}
.dialogOptionGroup {
    display: flex;
    flex-direction: row;
    margin: 10px;
}
.dialogButtonGroup {

}