:host {
  position: absolute!important;
  z-index: 100;
  width: 100%;
  height: 100%;
}

body {
  position: absolute;
  top: 100%;
  width: 100%;
  height: 40%;
  margin: 0;
  transform: translate3d(0, -14em, 0);
  background-color: white;
  border-radius: 0.25rem;
  animation: expand 0.3s;
  padding: 1.25rem!important;
  z-index: 1;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
}

.overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 0;
  background-color: black;
  opacity: 0.5;
  transition: 0.3s;
  animation: showOverlay 0.3s;
}

.chip {
  position: absolute;
  align-self: center;
  top: 0.75rem;
  height: 0.25rem;
  width: 1.5rem;
  border-radius: 0.125rem;
  background-color: #DADCE0;
}

@keyframes expand {
  0% {
    transform: translate3d(0, 0, 0);
    animation-timing-function: ease-in;
  }
  100% {
    transform: translate3d(0, -14em, 0);
    animation-timing-function: ease-out;
  }
}

@keyframes showOverlay {
  0% {
    opacity: 0;
    animation-timing-function: ease-in;
  }
  100% {
    opacity: 0.5;
    animation-timing-function: ease-out;
  }
}