:root {
    --expanded-content-pos: -63px;
}

#topRow {
    width: 100%;
    height: 56px;
    color: black;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: white;
    z-index: 2;
}

#expandedContent {
    height: 106px;
    background-color: white;
    padding: 5px 5px 0 5px;
    transition: 0.5s;
    transform: translate3d(0, var(--expanded-content-pos), 0);
    z-index: 1;
    box-shadow: 0 4px 8px 1px black;
}
#expandedContent * {
    z-index: 1;
}
#quizEditorButtons {
    display: flex;
    flex-direction: row;
}
.titleContainer {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-content: space-between;
}
.titleBtnContainer {
    margin: 10px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}
#saveBtnContainer {
    display: flex;
    flex-direction: row;
    align-items: center;
}
.tabs {
    padding-top: 10px;
}
.tabs button {
    border: none;
    background-color: white;
    outline: none;
}

body {
    display: flex;
    flex-direction: column;
    height: 100%;
}

:host {
    top: 0;
    position: sticky;
    height: 56px;
    width: 100%;
    z-index: 5;
    flex-grow: 1;
    background-color: white;
}

/* img {
    border-radius: 50%;
    height: 30px;
} */

.profileCard {
    position: absolute;
    right: 0;
    top: 40px;
    width: 250px;
    height: 300px;
    z-index: 10;
}
#profileCardContent {
    height: 100%;
    width: 100%;
}
#loggedIn {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
#loggedIn * {
    margin: 10px;
}
#loggedOut {
    display: flex;
    flex-direction: column;
    align-items: center;
}
#profileImg {
    height: 50px;
    width: 50px;
    object-fit: cover;
    border-radius: 50%;
}

.card {
    margin: 20px;
    padding: 20px;
    border: solid;
    border-width: thin;
    border-radius: 3px;
    border-color: rgba(0,0,0,0.22);
    box-shadow: 0 0 0 rgba(0,0,0,0.01), 0 2px 5px rgba(0,0,0,0.22);
    background-color: white;
    color: black;
}

.showProfileCard {
}

.hideProfileCard {
    display: none;
}