<div id="topRow">
    <div class="titleRowContainer">
        <button id="editorHome" class="md-icon-btn"><icon-el>form</icon-el></button>
        <h3>
            Editor
        </h3>
    </div>
    <div id="quizEditorButtons" class="hide">
        <button id="saveBtn" class="md-icon-btn"><icon-el colour="dark">save</icon-el></button>
        <button id="settingsBtn" class="md-icon-btn"><icon-el colour="dark">settings</icon-el></button>
        <button id="shareBtn" class="md-icon-btn"><icon-el colour="dark">send</icon-el></button>        
    </div>
    <button id="profile" class="md-icon-btn"><icon-el colour="dark">account</icon-el></button>
</div>

<div id="expandedContent">
    <text-input size="singleline" underline="false"></text-input>
    <div class="tabs">
        <div id="questionsBtn">Questions</div>
        <div id="responsesBtn">Responses</div>
        <span></span>
    </div>
</div>