.appBar {
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 1;
    height: 56px;
    background-color: #00695c;
    color: white;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0 4px 8px 1px black;
}

/* img {
    border-radius: 50%;
    height: 30px;
} */

.profileCard {
    position: absolute;
    right: 0;
    top: 40px;
    width: 250px;
    height: 300px;
    z-index: 1;
}
#profileCardContent {
    height: 100%;
    width: 100%;
}
#loggedIn {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
#loggedIn * {
    margin: 10px;
}
#loggedOut {
    display: flex;
    flex-direction: column;
    align-items: center;
}
#profileImg {
    height: 50px;
    width: 50px;
    object-fit: cover;
    border-radius: 50%;
}

.card {
    margin: 20px;
    padding: 20px;
    border: solid;
    border-width: thin;
    border-radius: 3px;
    border-color: rgba(0,0,0,0.22);
    box-shadow: 0 0 0 rgba(0,0,0,0.01), 0 2px 5px rgba(0,0,0,0.22);
    background-color: white;
    color: black;
}

.showProfileCard {
}

.hideProfileCard {
    display: none;
}