@import '../../styles.css';

body {
  background-color: #CCE0DE;
}

#topRow {
  width: 100%;
  height: 3.5rem;
  color: black;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background-color: white;
  z-index: 2;
}
#expandedContent {
  position: absolute;
  top: 3.5rem;
  left: 0;
  width: 100%;
  background-color: white;
  transition: height 0.35s ease-out;
  overflow: hidden; 
  height: 0;
  z-index: 1;
  box-shadow: 0 0.25rem 0.5rem 0.00625rem grey;
  opacity: 0;
}
#expandedContent.expanded {
  opacity: 1;
}
.innerExpandedContent {
  padding: 0 1rem 0 1rem;
}
#expandedContent * {
  z-index: 1;
  
}
.expanded {
  height: 6.625rem!important;
}
#quizEditorButtons {
  display: flex;
  flex-direction: row;
  
}
#quizEditorButtons button {
  margin-left: 0.75rem;
  margin-right: 0.75rem;
  animation: fadein 1s;
}
.titleContainer {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-content: space-between;
}
.titleRowContainer {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.titleBtnContainer {
  margin: 0.625rem;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
#saveBtnContainer {
  display: flex;
  flex-direction: row;
  align-items: center;
}
#saveStatus {
  padding: 0 0 0 0.3125rem;
  color: grey;
}

#questionsBtn.selected ~ span.bar {
  left: 0.125rem;
  width: 5.25rem;
}
#responsesBtn.selected ~ span.bar {
  left: 5.625rem;
  width: 5.625rem;
}
#questionsBtn {
  width: 4rem;
}
#responsesBtn {
  width: 4.375rem;
}
.selected {
  color: var(--dark-theme-colour);
}
.tabs {
  bottom: 0;
  height: 2.25rem;
  position: absolute;
  display: flex;
  flex-direction: row;
  font-size: 0.875rem;
}
.tabs .bar {
  position: absolute;
  z-index: 10;
  bottom: 0;
  height: 0.1875rem;
  border-radius: 0.1875rem 0.1875rem 0 0;
  left: 1.25rem;
  width: 5.5rem;
  background: var(--primary-theme-colour);
  display: block;
  transition: left .2s ease;
  -webkit-transition: left .2s ease;
}
.tabs div {
  height: 2.25rem;
  padding: 0 0.75rem 0 0.75rem;
  font-size: 0.875rem;
  font-weight: 500;
  display: flex;
  align-items: center;
}
.tabs div:active {
  background-color: rgba(67, 152, 137, 0.3);
}
body {
  display: flex;
  flex-direction: column;
  height: 100%;
}

:host {
  top: 0;
  position: sticky;
  height: 3.5rem;
  width: 100%;
  z-index: 5;
  background-color: white;
}

/* img {
  border-radius: 50%;
  height: 30px;
} */

.profileCard {
  position: absolute;
  right: 0;
  top: 2.5rem;
  width: 15.625rem;
  height: 18.75rem;
  z-index: 10;
  background: none;
}
#profileCardContent {
  height: 100%;
  width: 100%;
}
#loggedIn {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
#loggedIn * {
  margin: 0.625rem;
}
#loggedOut {
  display: flex;
  flex-direction: column;
  align-items: center;
}
#profileImg {
  height: 3.125rem;
  width: 3.125rem;
  object-fit: cover;
  border-radius: 50%;
}

.card {
  margin: 1.25rem;
  padding: 1.25rem;
  border: solid;
  border-width: thin;
  border-radius: 0.1875rem;
  border-color: rgba(0,0,0,0.22);
  box-shadow: 0 0 0 rgba(0,0,0,0.01), 0 0.125rem 0.3125rem rgba(0,0,0,0.22);
  background-color: white;
  color: black;
}

.showProfileCard {
}

.hideProfileCard {
  display: none;
}