<template>
    <div id="profileCardContent">
        <div class="hide" id="loggedIn">
            <img id="profileImg">

            <div id="profileName"></div>

            <div id="profileEmail"></div>

            <div id="profileType"></div>

            <button id="quizEditorBtn" class="md-button">Quiz Editor</button>

            <button id="logoutBtn" class="md-button">Logout</button>        
        </div>
        <div id="loggedOut">
            <button id="loginBtn" class="md-button">Login</button>
        </div>

    </div>
</template>
