html, body, main {
  margin: 0;
  padding: 0;
  width: 100%;
  
}
:host, body {
  display: flex;
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
}

main {
  display: flex;
  flex-direction: column;
}

.page {
  /* margin: 10px; */
  width: 100%;
}

.quizNotFoundCard {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  width: 20em;
  height: 20em;
}