@import '../../styles.css';

:host, body {
  width: 100%;
}


:host {
  height: 100%;
}

#loginCard {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  width: 20em;
  height: 20em;
}

.loginCard {
  display: flex;
  flex-direction: column;
  text-align: center;
}

#loginBtn, #loginUsernameBtn {
  margin: 0.5em 0 0.5em 0;
  width: 14em;
  align-self: center;
}

#notAdminSheet {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.btnGroup {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

text-input {
  margin: 1em;
}