select {
  height: 3rem;
  padding: 0 0.5rem 0 0.5rem;
  border-radius: 0.375rem;
  outline: none;
  border-color: grey;
}

option {
  background-color: white;
}

option:focus {
  background-color: white;
  display: none;
}