progress-spinner {
    position: absolute;
    margin: auto;
    top: 300px;
    left: 0;
    right: 0;
    bottom: 0;
    width: 65px;
}
body {
    margin-top: 56px;
    position: relative;
    overflow: scroll;
}
:host {
    height: 100%;
}