progress-spinner {
    position: absolute;
    margin: auto;
    top: 300px;
    left: 0;
    right: 0;
    bottom: 0;
    width: 65px;
}
body {
    position: relative;
    display: flex;
    align-items: stretch;
    background-color: var(--background-theme-colour);
}
:host, body {
    height: 100%;
    width: 100%;
    margin: 0;
}