@import '../../styles.css';

:host {
  width: 100%;
  /* height: 100%; */
}
#newQuizBtn {
  position: absolute;
  bottom: 1em;
  right: 1em;
}
#editor {
  height: 100%;
  overflow: scroll;
}
body {
  display: flex;
  flex-direction: column;
  /* height: 100%; */
}
#quizsContainer {
  overflow: scroll;
  
}
#quizList {
  height: 100%;
  float: left;
  position: relative;
}
.btnGroup {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.newQuizModal h3 {
  text-align: center;
}
/* .newQuizModal input {
  width: 0.1px;
	height: 0.1px;
	opacity: 0;
	overflow: hidden;
	position: absolute;
	z-index: -1;
} */
.newQuizModal label {
  width: 2rem;
}
.deleteQuizSheet h3 {
  text-align: center;
}
.quizItemInfo p {
  color: grey;
  font-size: 0.875rem;
}
.titleContainer {
  display: flex;
  flex-direction: column;
}
.quizItem {
  display: flex;
  flex-direction: row;
  align-items: center;
}
editable-quiz {
  height: 100%;
}
#noQuizes {
  position: absolute;
  height: 8.5em;
  width: 70%;
  margin: auto;
  text-align: center;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}